In [1]:
import pandas as pd
import copy
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('train.csv', encoding='CP949')
data.head()

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,18,0,680100,15,45340,1.7,9,10,26.7,100.0,NaN,9.0,6.0,NaN,NaN,6.0,9.0,화장품
1,21,0,353450,9,39272,1.2,6,8,11.1,37.5,NaN,5.0,4.0,NaN,3.0,NaN,6.0,영캐주얼
2,23,0,5671400,36,157539,2.8,22,16,5.6,37.5,7.0,17.0,12.0,NaN,10.0,11.0,15.0,장신구
3,26,0,1964000,28,70143,1.4,15,14,39.3,28.6,5.0,8.0,15.0,NaN,NaN,18.0,10.0,화장품
4,35,0,885000,5,177000,6.0,5,2,0.0,100.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN,피혁A

In [3]:
data.isnull().sum()

custid          0
gender          0
총구매액            0
구매건수            0
평균구매가격          0
평균할부개월수         0
구매브랜드종류         0
내점일수            0
수입상품_구매비율       0
주말방문비율          0
가을_구매건수       945
겨울_구매건수       897
봄_구매건수        689
여름_구매건수      1022
아침_구매건수      1442
저녁_구매건수       967
점심_구매건수       145
주구매코너           0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  가을_구매건수    4055 non-null   float64
 11  겨울_구매건수    4103 non-null   float64
 12  봄_구매건수     4311 non-null   float64
 13  여름_구매건수    3978 non-null   float64
 14  아침_구매건수    3558 non-null   float64
 15  저녁_구매건수    4033 non-null   float64
 16  점심_구매건수    4855 non-null   float64
 17  주구매코너      5000 non-null   object
dtypes: float64(10), int64(7), object(1)
memory usage: 703.3+ KB

In [5]:
obj = ['주구매코너']
data[obj] = data[obj].apply(lambda x: x.astype('category').cat.codes)

In [6]:
data.fillna(round(data.mean(),0), inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  가을_구매건수    5000 non-null   float64
 11  겨울_구매건수    5000 non-null   float64
 12  봄_구매건수     5000 non-null   float64
 13  여름_구매건수    5000 non-null   float64
 14  아침_구매건수    5000 non-null   float64
 15  저녁_구매건수    5000 non-null   float64
 16  점심_구매건수    5000 non-null   float64
 17  주구매코너      5000 non-null   int8
dtypes: float64(10), int64(7), int8(1)
memory usage: 669.1 KB

In [7]:
from sklearn.model_selection import train_test_split
dfX = data.drop(['custid','gender'], axis=1) 
dfy = data['gender']
X_train, X_test, y_train, y_test = train_test_split(dfX, dfy, test_size=0.25, random_state=0)

In [8]:
from sklearn.dummy import DummyClassifier
dummy = DummyClassifier(strategy='most_frequent').fit(X_train, y_train)
pred_dummy = dummy.predict(X_test)

In [9]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=2).fit(X_train, y_train)
pred_tree = tree.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
print("Dummy model:")
print(accuracy_score(y_test, pred_dummy))
print("Decision tree:")
print(accuracy_score(y_test, pred_tree))

Dummy model:
0.7064
Decision tree:
0.6944

In [11]:
from sklearn.metrics import confusion_matrix
print("Dummy model:")
print(confusion_matrix(y_test, pred_dummy))
print("Decision tree:")
print(confusion_matrix(y_test, pred_tree))

Dummy model:
[[883   0]
 [367   0]]
Decision tree:
[[832  51]
 [331  36]]

In [12]:
from sklearn.metrics import classification_report
print("Dummy model:")
print(classification_report(y_test, pred_dummy, 
                            target_names=["not 9", "9"]))
print("\nDecision tree:")
print(classification_report(y_test, pred_tree, 
                            target_names=["not 9", "9"]))

Dummy model:
              precision    recall  f1-score   support

       not 9       0.71      1.00      0.83       883
           9       0.00      0.00      0.00       367

    accuracy                           0.71      1250
   macro avg       0.35      0.50      0.41      1250
weighted avg       0.50      0.71      0.58      1250


Decision tree:
              precision    recall  f1-score   support

       not 9       0.72      0.94      0.81       883
           9       0.41      0.10      0.16       367

    accuracy                           0.69      1250
   macro avg       0.56      0.52      0.49      1250
weighted avg       0.63      0.69      0.62      1250

C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\anaconda\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [13]:
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

In [14]:
fpr, tpr, _ = roc_curve(y_test, tree.predict_proba(X_test)[:,1])
auc(fpr, tpr)

0.551967067928569

In [15]:
data.head()

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,18,0,680100,15,45340,1.7,9,10,26.7,100.0,10.0,9.0,6.0,11.0,9.0,6.0,9.0,24
1,21,0,353450,9,39272,1.2,6,8,11.1,37.5,10.0,5.0,4.0,11.0,3.0,9.0,6.0,11
2,23,0,5671400,36,157539,2.8,22,16,5.6,37.5,7.0,17.0,12.0,11.0,10.0,11.0,15.0,15
3,26,0,1964000,28,70143,1.4,15,14,39.3,28.6,5.0,8.0,15.0,11.0,9.0,18.0,10.0,24
4,35,0,885000,5,177000,6.0,5,2,0.0,100.0,10.0,10.0,5.0,11.0,9.0,5.0,22.0,22

In [16]:
from imblearn.under_sampling import TomekLinks
XX, yy = TomekLinks().fit_resample(X_train, y_train)
tree0 = DecisionTreeClassifier(max_depth=4, random_state=0)
tree0.fit(XX, yy)
y_pred0 = tree0.predict(X_test)

print(classification_report(y_test, y_pred0))

              precision    recall  f1-score   support

           0       0.71      0.93      0.80       883
           1       0.34      0.09      0.14       367

    accuracy                           0.68      1250
   macro avg       0.53      0.51      0.47      1250
weighted avg       0.60      0.68      0.61      1250

In [17]:
XX, yy = TomekLinks().fit_resample(X_train, y_train)
tree0 = DecisionTreeClassifier(max_depth=4, random_state=0)
tree0.fit(XX, yy)
y_pred0 = tree0.predict(X_test)

print(classification_report(y_test, y_pred0))

              precision    recall  f1-score   support

           0       0.71      0.93      0.80       883
           1       0.34      0.09      0.14       367

    accuracy                           0.68      1250
   macro avg       0.53      0.51      0.47      1250
weighted avg       0.60      0.68      0.61      1250

In [18]:
from imblearn.combine import SMOTETomek
XX, yy = SMOTETomek().fit_resample(X_train, y_train)

In [19]:
tree3 = DecisionTreeClassifier(max_depth=4, random_state=0)
tree3.fit(XX, yy)
y_pred3 = tree3.predict(X_test)

print(classification_report(y_test, y_pred3))

              precision    recall  f1-score   support

           0       0.72      0.43      0.54       883
           1       0.30      0.59      0.40       367

    accuracy                           0.48      1250
   macro avg       0.51      0.51      0.47      1250
weighted avg       0.60      0.48      0.50      1250

In [20]:
DummyClassifier(strategy='most_frequent').fit(X_train, y_train).score(X_test, y_test)

0.7064

In [21]:
dummy2 = DummyClassifier(strategy='most_frequent').fit(X_train, y_train)
pred_dummy2 = dummy2.predict(X_test)

In [22]:
tree2 = DecisionTreeClassifier(max_depth=2).fit(X_train, y_train)
pred_tree2 = tree3.predict(X_test)

In [23]:
print("Dummy model:")
print(accuracy_score(y_test, pred_dummy2))
print("Decision tree:")
print(accuracy_score(y_test, pred_tree2))

Dummy model:
0.7064
Decision tree:
0.4816

In [24]:
import pandas as pd
import numpy as np

In [25]:
data = pd.read_csv('train.csv', encoding='CP949')
data.head()

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,18,0,680100,15,45340,1.7,9,10,26.7,100.0,NaN,9.0,6.0,NaN,NaN,6.0,9.0,화장품
1,21,0,353450,9,39272,1.2,6,8,11.1,37.5,NaN,5.0,4.0,NaN,3.0,NaN,6.0,영캐주얼
2,23,0,5671400,36,157539,2.8,22,16,5.6,37.5,7.0,17.0,12.0,NaN,10.0,11.0,15.0,장신구
3,26,0,1964000,28,70143,1.4,15,14,39.3,28.6,5.0,8.0,15.0,NaN,NaN,18.0,10.0,화장품
4,35,0,885000,5,177000,6.0,5,2,0.0,100.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN,피혁A

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  가을_구매건수    4055 non-null   float64
 11  겨울_구매건수    4103 non-null   float64
 12  봄_구매건수     4311 non-null   float64
 13  여름_구매건수    3978 non-null   float64
 14  아침_구매건수    3558 non-null   float64
 15  저녁_구매건수    4033 non-null   float64
 16  점심_구매건수    4855 non-null   float64
 17  주구매코너      5000 non-null   object
dtypes: float64(10), int64(7), object(1)
memory usage: 703.3+ KB

In [27]:
dataP = data.copy()

In [28]:
dataP.isnull().sum()

custid          0
gender          0
총구매액            0
구매건수            0
평균구매가격          0
평균할부개월수         0
구매브랜드종류         0
내점일수            0
수입상품_구매비율       0
주말방문비율          0
가을_구매건수       945
겨울_구매건수       897
봄_구매건수        689
여름_구매건수      1022
아침_구매건수      1442
저녁_구매건수       967
점심_구매건수       145
주구매코너           0
dtype: int64

In [29]:
obj = ['주구매코너']

In [30]:
dataP[obj].head()

  주구매코너
0   화장품
1  영캐주얼
2   장신구
3   화장품
4   피혁A

In [31]:
dataP[obj].value_counts()

주구매코너
일반식품        1306
화장품         1206
유니캐주얼        410
유아동복         383
스포츠          301
영캐주얼         246
캐릭터캐주얼       188
수입명품         136
섬유            96
트래디셔널캐주얼      91
니트단품          91
정장셔츠          90
엘레강스캐주얼       78
피혁A           75
장신구           68
피혁B           56
디자이너부띠끄       51
문화완구          38
조리욕실          28
가전            18
기타바이어         12
도자기크리스탈       11
침구수예           8
가구             7
타운모피           6
Name: count, dtype: int64

In [32]:
dataP[obj] = dataP[obj].apply(lambda x: x.astype('category').cat.codes)

In [33]:
dataP[obj].value_counts()

주구매코너
14       1306
24       1206
12        410
13        383
9         301
11        246
19        188
8         136
7          96
21         91
3          91
16         90
10         78
22         75
15         68
23         56
5          51
6          38
17         28
1          18
2          12
4          11
18          8
0           7
20          6
Name: count, dtype: int64

In [34]:
dataP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   custid     5000 non-null   int64
 1   gender     5000 non-null   int64
 2   총구매액       5000 non-null   int64
 3   구매건수       5000 non-null   int64
 4   평균구매가격     5000 non-null   int64
 5   평균할부개월수    5000 non-null   float64
 6   구매브랜드종류    5000 non-null   int64
 7   내점일수       5000 non-null   int64
 8   수입상품_구매비율  5000 non-null   float64
 9   주말방문비율     5000 non-null   float64
 10  가을_구매건수    4055 non-null   float64
 11  겨울_구매건수    4103 non-null   float64
 12  봄_구매건수     4311 non-null   float64
 13  여름_구매건수    3978 non-null   float64
 14  아침_구매건수    3558 non-null   float64
 15  저녁_구매건수    4033 non-null   float64
 16  점심_구매건수    4855 non-null   float64
 17  주구매코너      5000 non-null   int8
dtypes: float64(10), int64(7), int8(1)
memory usage: 669.1 KB

In [35]:
# 결측치 처리
dataP.isnull().sum()

custid          0
gender          0
총구매액            0
구매건수            0
평균구매가격          0
평균할부개월수         0
구매브랜드종류         0
내점일수            0
수입상품_구매비율       0
주말방문비율          0
가을_구매건수       945
겨울_구매건수       897
봄_구매건수        689
여름_구매건수      1022
아침_구매건수      1442
저녁_구매건수       967
점심_구매건수       145
주구매코너           0
dtype: int64

In [36]:
con = ['가을_구매건수', '겨울_구매건수', '봄_구매건수', '여름_구매건수', '아침_구매건수', '저녁_구매건수', '점심_구매건수']

In [37]:
# 1. 결측치 제거
dataP_drop = dataP.dropna(subset=con)
dataP_drop.shape

(2235, 18)

In [38]:
# 2. 결측치 대체
from sklearn.impute import SimpleImputer
imputer_con = SimpleImputer(strategy="most_frequent")
dataP[con] = imputer_con.fit_transform(dataP[con])
dataP.shape

(5000, 18)

In [39]:
dataP.isnull().sum()

custid       0
gender       0
총구매액         0
구매건수         0
평균구매가격       0
평균할부개월수      0
구매브랜드종류      0
내점일수         0
수입상품_구매비율    0
주말방문비율       0
가을_구매건수      0
겨울_구매건수      0
봄_구매건수       0
여름_구매건수      0
아침_구매건수      0
저녁_구매건수      0
점심_구매건수      0
주구매코너        0
dtype: int64

In [40]:
dataP.gender.value_counts()
# 여성이 70%
# 남성이 30%

gender
0    3479
1    1521
Name: count, dtype: int64

In [59]:
# dfX= dataP.drop(['custid','주말방문비율','평균할부개월수', 'gender'], axis=1)
dfX= dataP.drop(['custid', 'gender'], axis=1)
dfy= dataP['gender']

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dfX, dfy, test_size=0.25, random_state=0)

In [43]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=6, random_state=0)
tree.fit(X_train, y_train).score(X_train, y_train)

0.7362666666666666

In [44]:
from sklearn.dummy import DummyClassifier
DummyClassifier(strategy='most_frequent').fit(X_train, y_train).score(X_test, y_test)

0.7064

In [45]:
from sklearn.metrics import classification_report
y_pred = tree.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.71      0.93      0.81       883
           1       0.35      0.09      0.14       367

    accuracy                           0.68      1250
   macro avg       0.53      0.51      0.47      1250
weighted avg       0.60      0.68      0.61      1250

In [46]:
# 비대칭 데이터 처리
# 1. Under-Sampling
from imblearn.under_sampling import TomekLinks
XX, yy = TomekLinks().fit_resample(X_train, y_train)
tree0 = DecisionTreeClassifier(max_depth=6, random_state=0)
tree0.fit(XX, yy)
tree0.score(X_test, y_test)

0.6368

In [47]:
# Under-Sampling 기법은 개선이 미미함
y_pred0 = tree0.predict(X_test)
print(classification_report(y_test, y_pred0))

              precision    recall  f1-score   support

           0       0.71      0.83      0.76       883
           1       0.30      0.17      0.22       367

    accuracy                           0.64      1250
   macro avg       0.50      0.50      0.49      1250
weighted avg       0.59      0.64      0.60      1250

In [48]:
# Over - Sampling
from imblearn.over_sampling import SMOTE
XX, yy = SMOTE().fit_resample(X_train, y_train)
tree2 = DecisionTreeClassifier(max_depth=6, random_state=0)
tree2.fit(XX, yy).score(X_test, y_test)

0.5696

In [77]:
# 2.Hybrid-Sampling : Over and Under
from imblearn.combine import SMOTETomek
XX, yy = SMOTETomek().fit_resample(X_train, y_train)
tree1 = DecisionTreeClassifier(max_depth=6, random_state=0)
tree1.fit(XX, yy).score(X_test, y_test)

0.5576

In [60]:
# 랜덤포레스트 알고리즘 대입
from sklearn.ensemble import RandomForestClassifier
tree_rf = RandomForestClassifier(n_estimators=100, random_state=0)
tree_rf.fit(XX, yy).score(X_test, y_test)

0.6312

In [63]:
# Features engineering
df0 = dataP.groupby(['주구매코너'])['구매건수'].sum()
df0 = df0.to_frame().reset_index()
df0.columns = ['주구매코너', '코너별구매건']
df0.head()

   주구매코너  코너별구매건
0      0     100
1      1     315
2      2     149
3      3    2542
4      4     261

In [66]:
df0.shape

(25, 2)

In [68]:
dataP_ = pd.merge(dataP, df0, on='주구매코너')
dataP_.head()

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너,코너별구매건
0,18,0,680100,15,45340,1.7,9,10,26.7,100.0,1.0,9.0,6.0,1.0,1.0,6.0,9.0,24,25740
1,21,0,353450,9,39272,1.2,6,8,11.1,37.5,1.0,5.0,4.0,1.0,3.0,1.0,6.0,11,8285
2,23,0,5671400,36,157539,2.8,22,16,5.6,37.5,7.0,17.0,12.0,1.0,10.0,11.0,15.0,15,1165
3,26,0,1964000,28,70143,1.4,15,14,39.3,28.6,5.0,8.0,15.0,1.0,1.0,18.0,10.0,24,25740
4,35,0,885000,5,177000,6.0,5,2,0.0,100.0,1.0,1.0,5.0,1.0,1.0,5.0,2.0,22,880

In [74]:
# 건수 Feature들을 최소단위 정보인 구매건당 구매액로 변경
def createFeatures(df_p):
    df_p['아침구매액'] = np.round(df_p['총구매액']*(df_p['아침_구매건수'] /df_p['구매건수'] ), 3)
    df_p['점심구매액'] = np.round(df_p['총구매액']*(df_p['점심_구매건수'] /df_p['구매건수'] ), 3)
    df_p['저녁구매액'] = np.round(df_p['총구매액']*(df_p['저녁_구매건수'] /df_p['구매건수'] ), 3)  
    df_p['봄구매액']   = np.round(df_p['총구매액']*(df_p['봄_구매건수'] /df_p['구매건수'] ), 3) 
    df_p['여름구매액'] = np.round(df_p['총구매액']*(df_p['여름_구매건수'] /df_p['구매건수'] ), 3) 
    df_p['가을구매액'] = np.round(df_p['총구매액']*(df_p['가을_구매건수'] /df_p['구매건수'] ), 3)  
    df_p['겨울구매액'] = np.round(df_p['총구매액']*(df_p['겨울_구매건수'] /df_p['구매건수'] ), 3)  
    df_p['내점구매율'] = np.round(df_p['구매건수'] /df_p['내점일수'], 3)
    
def dropFeatures(df_p):
    drop_cols = ['아침_구매건수', '점심_구매건수', '저녁_구매건수', '총구매액', '구매건수',
         '봄_구매건수', '여름_구매건수', '가을_구매건수', '겨울_구매건수', '내점일수'] 
    
    return df_p.drop(drop_cols, axis=1)

In [75]:
createFeatures(dataP_)
dataPP=dropFeatures(dataP_)
dataPP.head(3)

,custid,gender,평균구매가격,평균할부개월수,구매브랜드종류,수입상품_구매비율,주말방문비율,주구매코너,코너별구매건,아침구매액,점심구매액,저녁구매액,봄구매액,여름구매액,가을구매액,겨울구매액,내점구매율
0,18,0,45340,1.7,9,26.7,100.0,24,25740,45340.000,408060.000,272040.000,272040.000,45340.000,45340.000,408060.000,1.500
1,21,0,39272,1.2,6,11.1,37.5,11,8285,117816.667,235633.333,39272.222,157088.889,39272.222,39272.222,196361.111,1.125
2,23,0,157539,2.8,22,5.6,37.5,15,1165,1575388.889,2363083.333,1732927.778,1890466.667,157538.889,1102772.222,2678161.111,2.250

In [84]:
dfX= dataPP.drop(['custid', 'gender'], axis=1)
dfy= dataPP['gender']

X_train, X_test, y_train, y_test = train_test_split(dfX, dfy, test_size=0.25, random_state=0)

XX, yy = SMOTE().fit_resample(X_train, y_train)

tree_rf = RandomForestClassifier(n_estimators=100, random_state=0)
tree_rf.fit(XX, yy).score(X_test, y_test)

0.652

In [92]:
from sklearn.utils import resample
men_data = data[data['gender'] == 1]

men_data_upsampled = resample(men_data, 
                               replace=True,    
                               n_samples=3479,   
                               random_state=42)  

women_data = data[data['gender'] == 0]

balanced_data = pd.concat([men_data_upsampled, women_data], axis=0)

balanced_data = balanced_data.sample(frac=1, random_state=42).reset_index(drop=True)

print(balanced_data['gender'].value_counts())

gender
0    3479
1    3479
Name: count, dtype: int64

In [93]:
from sklearn.preprocessing import LabelEncoder as LE
categorical_columns = ["주구매코너"]

lebel = LE()
for column in categorical_columns:
    data[column] = lebel.fit_transform(data[column])

X = balanced_data.drop(["custid", "gender", "주말방문비율"], axis=1)

Y = balanced_data["gender"]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [100]:
from sklearn.ensemble import RandomForestClassifier as rfc
rf_model = rfc(n_estimators = 100 , random_state = 42)
rf_model = rf_model.fit(X_train , Y_train)
Y_pred_rf = rf_model.predict(X_test)
accuracy_rf = accuracy_score(Y_test , Y_pred_rf)
accuracy_rf

0.8793103448275862