In [1]:
import pandas as pd
import numpy as np

In [2]:
mem_data = pd.read_csv('mem_data.csv')

In [3]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS
0,1427535,30017,M,NaN,S,-,00:00.6,2,11000,10:00.2,338,0,338,0,Y
1,1427464,997,F,1983-10-12,L,-,00:01.2,2,36900,37:17.0,856,0,856,0,Y
2,1427447,825,M,NaN,S,-,00:01.2,1,26100,47:23.0,522,0,522,0,Y
3,1427437,997,F,1986-12-18,L,-,00:01.2,3,47200,52:09.0,944,0,944,0,Y
4,1427418,997,UNKNOWN,1984-06-07,L,-,00:01.2,1,27900,29:28.4,558,0,558,0,Y

In [4]:
mem_data['GENDER'].value_counts()

GENDER
M          3759
F          3754
UNKNOWN    3220
Name: count, dtype: int64

In [5]:
mem_data.isnull().sum()

MEM_ID            0
M_STORE_ID        0
GENDER            0
BIRTH_DT       4761
BIRTH_SL          0
ZIP_CD            0
RGST_DT           0
VISIT_CNT         0
SALES_AMT         0
LAST_VST_DT       0
USABLE_PNT        0
USED_PNT          0
ACC_PNT           0
USABLE_INIT       0
SMS               0
dtype: int64

In [6]:
mem_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10733 entries, 0 to 10732
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MEM_ID       10733 non-null  int64
 1   M_STORE_ID   10733 non-null  int64
 2   GENDER       10733 non-null  object
 3   BIRTH_DT     5972 non-null   object
 4   BIRTH_SL     10733 non-null  object
 5   ZIP_CD       10733 non-null  object
 6   RGST_DT      10733 non-null  object
 7   VISIT_CNT    10733 non-null  int64
 8   SALES_AMT    10733 non-null  int64
 9   LAST_VST_DT  10733 non-null  object
 10  USABLE_PNT   10733 non-null  int64
 11  USED_PNT     10733 non-null  int64
 12  ACC_PNT      10733 non-null  int64
 13  USABLE_INIT  10733 non-null  int64
 14  SMS          10733 non-null  object
dtypes: int64(8), object(7)
memory usage: 1.2+ MB

In [7]:
mem_data = mem_data[mem_data['GENDER'] != 'UNKNOWN']

In [8]:
mem_data['GENDER'].value_counts()

GENDER
M    3759
F    3754
Name: count, dtype: int64

In [9]:
obj = ['GENDER','BIRTH_SL','ZIP_CD','RGST_DT','LAST_VST_DT','SMS']
mem_data[obj] = mem_data[obj].apply(lambda x: x.astype('category').cat.codes)

In [10]:
mem_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7513 entries, 0 to 10732
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MEM_ID       7513 non-null   int64
 1   M_STORE_ID   7513 non-null   int64
 2   GENDER       7513 non-null   int8
 3   BIRTH_DT     4174 non-null   object
 4   BIRTH_SL     7513 non-null   int8
 5   ZIP_CD       7513 non-null   int16
 6   RGST_DT      7513 non-null   int8
 7   VISIT_CNT    7513 non-null   int64
 8   SALES_AMT    7513 non-null   int64
 9   LAST_VST_DT  7513 non-null   int16
 10  USABLE_PNT   7513 non-null   int64
 11  USED_PNT     7513 non-null   int64
 12  ACC_PNT      7513 non-null   int64
 13  USABLE_INIT  7513 non-null   int64
 14  SMS          7513 non-null   int8
dtypes: int16(2), int64(8), int8(4), object(1)
memory usage: 645.6+ KB

In [11]:
mem_data.head()

,MEM_ID,M_STORE_ID,GENDER,BIRTH_DT,BIRTH_SL,ZIP_CD,RGST_DT,VISIT_CNT,SALES_AMT,LAST_VST_DT,USABLE_PNT,USED_PNT,ACC_PNT,USABLE_INIT,SMS
0,1427535,30017,1,NaN,1,0,0,2,11000,1097,338,0,338,0,1
1,1427464,997,0,1983-10-12,0,0,1,2,36900,4355,856,0,856,0,1
2,1427447,825,1,NaN,1,0,1,1,26100,5466,522,0,522,0,1
3,1427437,997,0,1986-12-18,0,0,1,3,47200,5989,944,0,944,0,1
5,1427393,997,0,1967-12-03,0,0,1,3,34900,3532,698,0,698,0,0

In [24]:
from sklearn.model_selection import train_test_split
dfX = mem_data.drop(['MEM_ID','GENDER','BIRTH_DT'], axis=1) 
dfy = mem_data['GENDER']
X_train, X_test, y_train, y_test = train_test_split(dfX, dfy, test_size=0.25, random_state=0)

In [25]:
from sklearn.dummy import DummyClassifier
dummy = DummyClassifier(strategy='most_frequent').fit(X_train, y_train)
pred_dummy = dummy.predict(X_test)

In [26]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=6).fit(X_train, y_train)
pred_tree = tree.predict(X_test)

In [27]:
from sklearn.metrics import accuracy_score
print("Dummy model:")
print(accuracy_score(y_test, pred_dummy))
print("Decision tree:")
print(accuracy_score(y_test, pred_tree))

Dummy model:
0.49281532730175626
Decision tree:
0.8616285258116019

In [33]:
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
XX, yy = SMOTE().fit_resample(X_train, y_train)
tree_rf = RandomForestClassifier(n_estimators=100, random_state=0)
tree_rf.fit(XX, yy).score(X_test, y_test)

0.866418307610431